# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

palantir-java-format.xml

sonarlint/

jpa-buddy.xml
uiDesigner.xml
discord.xml